@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply text-gray-800 dark:text-neutral-400 hover:text-sky-600 transition duration-200 cursor-pointer;
  }

  .prose-link {
    @apply text-sky-600 dark:text-white whitespace-nowrap cursor-pointer
      border-b border-sky-600/30 hover:border-sky-600
      dark:border-neutral-500 hover:dark:border-neutral-400
      transition-colors duration-200 no-underline;
  }

  .text-main {
    @apply text-gray-800 dark:text-neutral-400;
  }

  .text-link {
    @apply text-sky-600 dark:text-white;
  }

  .text-title {
    @apply text-4xl font-semibold text-gray-800 dark:text-neutral-400;
  }
}

@layer base {
  body {
    @apply bg-white dark:bg-black text-gray-800 dark:text-neutral-400 min-h-screen antialiased;
  }
}
